body {
    background-image: url('https://images.unsplash.com/flagged/photo-1551373916-bdaddbf4f881?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    height: 100vh;
}
.main-page{

    text-align:center;

}
.required-field1 {
    color: #ff0000;
    font-size: smaller;
    font-family: 'Californian FB';
}


.selection-bg {
    
}